<mat-list *ngIf="!msgErro">
  <!--mat-list-item style="text-align:center">
    <h4 mat-line><strong>Latitude</strong></h4>
    <p mat-line>{{pos.coords.latitude}}</p>
    <h4 mat-line><strong>Longitude</strong></h4>
    <p mat-line>{{pos.coords.longitude}}</p>
  </mat-list-item-->
  <br>
  <br>
  <br>
    <mat-list-item style="text-align: center">
      <p mat-line *ngIf="dist <= 0.1">
        <img src="assets/images/naFatec.png" width="250px" onload="mostrarBtn()">
      </p>
      <p mat-line *ngIf="dist <= 0.1" style="color:forestgreen; font-size: 16px"><strong><br>Vá até o menu "QR Code" e faça a leitura.</strong></p>
      <p mat-line *ngIf="dist > 0.1">
        <img src="assets/images/naotanaFatec.png" width="250px">
      </p>
      <p mat-line *ngIf="dist > 0.1" style="color:darkred; font-size: 16px;"><strong><br>Vá até a Fatec para fazer o check-in.</strong></p>
      <h4 mat-line><strong><br>Distância da Fatec Franca</strong></h4>
      <p mat-line>{{(dist * 1000).toFixed(2)}} m</p>
    </mat-list-item>
</mat-list>

<mat-list *ngIf="msgErro" style="text-align: center">
  <mat-icon style="color: darkred; font-size: 100px; text-indent: -35px">cancel</mat-icon>
  <mat-list-item>
    <h1 mat-line style="color:darkred"><strong>ERRO</strong></h1>
    <p mat-line>{{msgErro}}</p>
  </mat-list-item>
</mat-list>